li.step-element {
  @apply md:flex-1;

  a {
    @apply pl-4 py-2 flex flex-col border-l-4;
    @apply md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4;

    span {
      @apply text-sm font-medium;
    }

    &.completed {
      @apply border-indigo-600 hover:border-indigo-800;

      span {
        &.step-label {
          @apply text-xs text-indigo-600 font-semibold tracking-wide uppercase group-hover:text-indigo-800;
        }
      }
    }

    &.current {
      @apply border-indigo-600;

      span {
        &.step-label {
          @apply text-xs text-indigo-600 font-semibold tracking-wide uppercase;
        }
      }
    }

    &.upcoming {
      @apply border-gray-200;

      span {
        &.step-label {
          @apply text-xs text-gray-500 font-semibold tracking-wide uppercase group-hover:text-gray-700;
        }
      }
    }
  }
}
