<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
  <div class="flex justify-between items-center">
    <h4>Shipping Address</h4>
    <app-button
      (click)="saveUserAddress()"
      [disabled]="
        !checkoutForm.get('addressForm')?.valid || !checkoutForm.get('addressForm')?.dirty
      "
      class="text-xs"
    >
      Save as default address
    </app-button>
  </div>
  <div formGroupName="addressForm" class="flex flex-wrap">
    <div class="pr-4 pt-4 w-1/2">
      <app-text-input [label]="'First Name'" formControlName="firstName"></app-text-input>
    </div>
    <div class="pt-4 w-1/2">
      <app-text-input [label]="'Last Name'" formControlName="lastName"></app-text-input>
    </div>
    <div class="pr-4 pt-4 w-1/2">
      <app-text-input [label]="'Street'" formControlName="street"></app-text-input>
    </div>
    <div class="pt-4 w-1/2">
      <app-text-input [label]="'City'" formControlName="city"></app-text-input>
    </div>
    <div class="pr-4 pt-4 w-1/2">
      <app-text-input [label]="'State'" formControlName="state"></app-text-input>
    </div>
    <div class="pt-4 w-1/2">
      <app-text-input [label]="'Zip Code'" formControlName="zipCode"></app-text-input>
    </div>
  </div>
</div>

<div class="mt-6 flex justify-between">
  <app-button routerLink="/basket">
    <fa-icon [icon]="faAngleLeft" class="text-white mr-2"></fa-icon>
    Basket
  </app-button>
  <button
    cdkStepperNext
    class="primary"
    [ngClass]="{ disabled: checkoutForm.get('addressForm')?.invalid }"
  >
    Delivery <fa-icon class="text-white ml-2" [icon]="faAngleRight"></fa-icon>
  </button>
</div>
