<div class="grid grid-cols-3 grid-rows-2">
  <div class="col-span-2 pr-8">
    <app-stepper [linearModeSelected]="false" [initialStep]="step" #appStepper>
      <cdk-step [label]="'Address'" [completed]="checkoutForm.get('addressForm')?.valid">
        <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
      </cdk-step>
      <cdk-step [label]="'Delivery Method'" [completed]="checkoutForm.get('deliveryForm')?.valid">
        <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
      </cdk-step>
      <cdk-step [label]="'Review'">
        <app-checkout-review></app-checkout-review>
      </cdk-step>
      <cdk-step [label]="'Payment'">
        <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
      </cdk-step>
    </app-stepper>
  </div>
  <app-order-totals
    [nextButtonLink]="'/basket'"
    [nextButtonText]="'Go back to basket'"
    class="col-start-3"
  ></app-order-totals>
</div>
