<div *ngIf="product" class="grid grid-cols-4">
  <div class="col-span-2">
    <img
      class="bg-white w-3/4 m-auto rounded-md shadow-xl"
      src="{{ product.pictureUrl }}"
      alt="{{ product.name }}"
    />
  </div>

  <div class="col-start-3 col-span-2">
    <h3 class="text-3xl pb-4 border-b-2">{{ product.name }}</h3>
    <p class="mt-4 px-2 py-1 text-green-800 font-medium bg-green-100 rounded-full inline-block">
      {{ product.price | currency }}
    </p>
    <div class="flex mt-4 items-center">
      <app-quantity-count
        [count]="productCount"
        (incremented)="incrementQuantity()"
        (decremented)="decrementQuantity()"
      ></app-quantity-count>
      <button
        (click)="addProductsToBasket()"
        class="ml-8 p-2 border rounded-md text-white bg-indigo-600"
      >
        Add to Cart
      </button>
    </div>
    <div class="mt-5">{{ product.description }}</div>
  </div>
</div>
