<div class="pb-6 bg-white rounded-md shadow-md">
  <div
    class="bg-gray-50 px-6 pt-5 pb-4 rounded-t-md text-sm font-medium text-gray-500 border-b border-gray-200"
  >
    <h3 class="uppercase flex items-center">Order Summary</h3>
    <p class="text-xs italic mt-2 text-gray-400">
      *Shipping costs will be added depending on the choices made during checkout.
    </p>
  </div>
  <div class="flow-root mt-4 text-sm px-6 text-gray-600">
    <ul class="-my-5 divide-y divide-gray-200">
      <li class="py-4">
        <div class="flex items-center justify-between space-x-4">
          <span>Order Subtotal:</span>
          {{ (orderSummary$ | async)?.orderSubtotal | currency }}
        </div>
      </li>

      <li class="py-4">
        <div class="flex items-center justify-between space-x-4">
          <span>Shipping Fee:</span>
          {{ (orderSummary$ | async)?.orderShippingFee | currency }}
        </div>
      </li>

      <li class="py-4">
        <div class="flex items-center justify-between space-x-4">
          <span>Order Total:</span>
          {{ (orderSummary$ | async)?.orderTotal | currency }}
        </div>
      </li>
    </ul>
    <div class="mt-8">
      <app-button routerLink="{{ nextButtonLink }}">{{ nextButtonText }}</app-button>
    </div>
  </div>
</div>
